/* Footer.css */

.footer-container {
    background-color: #222; /* Fondo gris oscuro para el footer */
    padding: 20px;
    /*margin-top: 600px;*/
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    flex: 1;
    margin-right: 20px;
    text-align: center;
  }
  
  .footer-item:last-child {
    margin-right: 0;
  }
  
  .footer-item img {
    max-width: 100%;
    height: auto;
  }
  
  .footer-item h3 {
    color: #ddd; /* Color del texto */
  }
  
  .footer-item ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-item ul li {
    margin-bottom: 5px;
  }
  
  .footer-item ul li a {
    text-decoration: none;
    color: #ddd; /* Color del texto */
  }
  
  .footer-item ul li a:hover {
    color: #fff; /* Cambio de color al pasar el mouse sobre los enlaces */
  }

  